body {
	margin: 0;
	margin: 0 auto;
	background: #f4f4f4 url(images/bg.gif) top center repeat-y;
}
#header {
	vertical-align: top;
	padding-bottom: 11px;
	padding-left: 18px;
	font-family: Georgia, Lucida, Arial, sans-serif;
	font-size: 11px;
	font-weight: lighter;
	color: #00008B;
	border-bottom: 1px solid #efefef;
}
.title {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #90200A;
}
.head-title {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #90200A;
}
.head-darktitle {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #000000;
}
#main {
	width: 780px;
	height: auto;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	margin: 0 auto 0 auto;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A52A2A;
}
h1 {
  font-size: 12px;
	font-family:  Verdana, Arial, sans-serif;
	color: #191970;
	font-weight: bold;
	padding-left: 4px;
}
h2, h3, h4 {
  font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	color:  #2F4F4F;
	font-weight: bold;
	padding-left: 8px;
}
.menu li a:link, .menu li a:visited {
	width: 120px;
	margin: 0px 0 1px -20px;
	padding: 0px 3px 2px 4px;
	background-color: transparent;
	color: #003366;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	display: block;
	text-transform: capitalize;
	list-style-image: none;
	line-height: 160%;
}
.menu li a:hover {
	color: #A52A2A;
}
.menu li.leaf, .menu li.expanded {
	list-style-image: none;
	list-style-type: none;
}
.menu li.collapsed {
	list-style-image: none;
	list-style-type: none;
	background-image: url(images/plus.gif);
	background-position: right;
	background-repeat: no-repeat;
}

.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  display: block;
	color: #003366;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
}
div.dashboard-panel-head {
	background-color: #adadad;
	color: #FFFFFF;
	font-weight: bold;
}
#topmenu {
  text-align: right;
	padding-top: 1em;
	padding-right: 1em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}
#topmenu a:link, #topmenu a:visited {
	color: #ffffff;
  text-decoration: none;
  background-color: #000000; 
	border: 1px solid #666666;
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: .8em;
	padding-right: .8em;
  margin: 0 -4px 0 0;
}
#topmenu a:hover {
	color: #ffffff;
	background-color: #90200A; 
	border: 1px solid #90200A;
  text-decoration: none;
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: .8em;
	padding-right: .8em;
}
#lefty {
  float: left;
  clear: none;
  overflow: hidden;
	margin: 0px 0px 8px 8px;
	padding: 8px 8px 0px 0px;
	width: 150px;
	height: auto;
	color: #00008B;
	font-family: Verdana, Arial, sans-serif;
	border-right: 1px solid #efefef;
}
#lefty p {
	width: 94%;
	padding: 12px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #f9f9f9;
	color: #607080;
}
#mission {
	padding: 12px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #f9f9f9;
	color: #607080;
}
#breadcrumb {
  text-align: right;
	color: #999999;
	padding-bottom: -15px;
}
#breadcrumb a:link, #breadcrumb a:visited {
	color: #999999;
	text-decoration: none;
}
#breadcrumb a:hover {
	color: #aaaaaa;
	text-decoration: none;
}
a:link, a:visited {
	color: #003366;
	border-bottom: 1px solid #efefef;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
}
a:hover {
	color: #A52A2A;
	text-decoration: none;
}
#content {
	float: left;
  clear: none;
  overflow: hidden;
  width: 570px;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 11px 16px 11px 11px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 145%;
	color: #607080;
}
#content h2, h3, h4 {
	font-family: Verdana, Arial, sans-serif;
	color: #2F4F4F;
	font-weight: bold;
	padding-left: 0px;
	text-transform: capitalize;
}
#footer {
  text-align: center;
	padding: 11px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: lighter;
	color: #cccccc;
}
hr {
	border:0;
	border-bottom: 1px solid #efefef;
	height: 1px;
}
li {
	list-style-type: none;
	line-height: 100%;
}
